* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'DM Mono', monospace;
    color: white;
}
body {
    background: white;
}

.container {
    display: flex;
    height:100vh;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.chatSection {
    display: flex;
    flex-direction: column;
    /* align-items: flex-end; */
    justify-content: flex-end;
    /* background: black; */
    height: 100vh;
    width: 50%;
    background: rgb(211, 208, 208);
}

.messageDisplay .view{
    /* min-height: 50vh; */
    height: 100vh;
    width: 100%;
    overflow-y: scroll;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    padding: 10px;
}

.message {
    /* min-height: 50px; */
    /* height: auto; */
    border-radius: 7px;
    max-width: 70%;
    line-break: auto;
    padding: 3px 7px 7px 7px;
    color: black;
    font-weight: 570;
    display: flex;
    flex-direction: column;
    margin: 5px;
}

.message span {
    font-size: 0.7rem;
    color: black;
    font-weight:300;
}

.tag2 {
    align-self: flex-end;
}

.sender {
    align-self: flex-end;
    background: #a5e1ad;
}

.receiver {
    align-self: flex-start;
    background:#4ca1a3;
}
.messageInput {
    display:flex;
    align-self: flex-end;
    align-items: center;
    justify-content: center;
    padding: 5px;
    height:50px;
    /* background: black; */
    width: 100%;
    /* margin-bottom: 15px; */
}

textarea {
    height: 100%;
    resize: none;
    border-radius: 7px;
    background: #feddbe;
    color: black;
    padding: 10px;
    outline: none;
    width: 85%;
    border: 0.3px solid rgb(155, 153, 153);
}

.sendMessage {
    padding: 5px;
    height: 100%;
    width: 7%;
    outline: none;
    background-color:#185adb;
    border: none;
    border-radius: 5px;
    font-size: 1.2rem;
    font-weight: bold;
    margin-left: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.sendMessage img {
    width: 100%;
    height: 100%;
}